::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #f7c948; /* Color of the scrollbar */
  border-radius: 10px; /* Radius of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #f3b600; /* Color of the scrollbar on hover */
}